<body id="fondo">

    <img class="bruja" src="bruja-01.png" alt="">


    <div class='a'>
        <div class="bat-container pin-bottom">
            <div class="bat-wrapper">
                <div class="bat js-bat">
                    <div class="bat-leg-1"></div>
                    <div class="bat-leg-2"></div>
                </div>
            </div>
            <div class="bat-shadow"></div>
        </div>
    </div>

    <div class='b'>
        <div class="bat-container pin-bottom">
            <div class="bat-wrapper">
                <div class="bat js-bat">
                    <div class="bat-leg-1"></div>
                    <div class="bat-leg-2"></div>
                </div>
            </div>
            <div class="bat-shadow"></div>
        </div>
    </div>

    <div class='c'>
        <div class="bat-container pin-bottom">
            <div class="bat-wrapper">
                <div class="bat js-bat">
                    <div class="bat-leg-1"></div>
                    <div class="bat-leg-2"></div>
                </div>
            </div>
            <div class="bat-shadow"></div>
        </div>
    </div>

</body>
