<body>
    <div class="card-group">
        <div class="card">
            <img src="mano-01.png" class="card-img-top img" alt="...">
            <div class="card-body center-txt">
                <p class="card-text">
                    <h3>MUSIC</h3>
                    <p>D.J.SONIA KEATS</p>
                </p>
                <p class="card-text">
                    <h3>DRINKS</h3>
                    <p>5 DRINKS FOR 20 €</p>
                </p>

                <p class="card-text">
                    <h3>TIME</h3>
                    <p>SATURDAY OCTOBER 31th</p>
                    <p>EVENT STARTS @ 10:00 PM</p>
                </p>
            </div>
        </div>
        <div class="card">
            <img src="Sin-título.gif" class="card-img-top gif" alt="...">
            <div class="card-body center-txt">
                <p class="card-text">
                    <h3>PLACE</h3>
                    <p>THE BEST TERRIFIC LOCATION YOU CAN FIND!</p>
                    <p>YOU WILL KNOW IT AFTER YOU REGISTER</p>
                </p>

                <p class="card-text">
                    <h3>CONTEST</h3>
                    <p>THE BEST TERRIFIC LOCATION YOU CAN FIND!</p>
                    <p>PROZES FOR THE BEST COSTUMES!</p>
                </p>
            </div>
        </div>