   <div class="container">
        <div class="card-form">
            <h6> Do you want more info?</h6>
            <form class="login-form" action="">
                <div class="register">
                    <input type="text" id="name" placeholder="Name" />
                    <input type="email" id="email" placeholder="Email" />
                    <input type="tel" id="phone" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="phone"
                        required>
                    <button type="submit" class="button" id="login-button" onclick="login(event)">SignUp</button>
                </div>
            </form>
            </div>
        <div class="errors-container">
    </div>
    