<div id="animations">
  <!-- Witch -->
  <img class="bruja" src="/images/bruja-01.png" alt="">

  <!-- Bat 1 -->
  <div class='a'>
    <div class="bat-container pin-bottom">
      <div class="bat-wrapper">
        <div class="bat js-bat">
          <div class="bat-leg-1"></div>
          <div class="bat-leg-2"></div>
        </div>
      </div>
      <div class="bat-shadow"></div>
    </div>
  </div>

  <!-- Bat 2 -->
  <div class='b'>
    <div class="bat-container pin-bottom">
      <div class="bat-wrapper">
        <div class="bat js-bat">
          <div class="bat-leg-1"></div>
          <div class="bat-leg-2"></div>
        </div>
      </div>
      <div class="bat-shadow"></div>
    </div>
  </div>

  <!-- Bat 3 -->
  <div class='c'>
    <div class="bat-container pin-bottom">
      <div class="bat-wrapper">
        <div class="bat js-bat">
          <div class="bat-leg-1"></div>
          <div class="bat-leg-2"></div>
        </div>
      </div>
      <div class="bat-shadow"></div>
    </div>
  </div>
</div>

<div class="form">
<h1>Welcome to Scary Boo Inc</h1>
<h2>Event Registration Form</h2>
<form action="/users/register" method="POST" id="register">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="email" name="email" placeholder="Enter your email">
  <input type="number" name="mobile" placeholder="Enter your phone number">
  <button type="submit" form="register" value="Register">Register</button>
</form>

<p>{{errorName}}</p>
<p>{{errorEmail}}</p>
<p>{{errorMobile}}</p>
</div>
