body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#fondo {
  background-image: url('/images/fondo-01.png');
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-position: fixed;
}

.bruja {
  width: 10%;
  margin-top: 60px;
  transform: translateX(-1200px);
  animation: bruja 15s ease 2s infinite;
}

.bat-container {
  width: 125px;
  height: 170px;
  margin: auto;
  bottom: 80px;
}

.pin-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

.bat-wrapper {
  position: absolute;
  height: 170px;
  width: 125px;
  animation: ease-in-out wiggle 7s 0s infinite alternate both;
}

.bat {
  background-size: 2250px 170px;
  background-image: url('/images/bat_negro.svg');
  height: 170px;
  width: 125px;
  animation: flapping .4s steps(18) infinite alternate;
}

.bat-leg-1 {
  bottom: 54px;
  left: 55px;
  display: block;
  width: 4px;
  height: 15px;
  position: absolute;
  border-radius: 12px;
  background: black;
  animation: ease-in-out leg 2s 0s infinite alternate both;
}

.bat-leg-2 {
  bottom: 54px;
  left: 65px;
  display: block;
  width: 4px;
  height: 15px;
  position: absolute;
  border-radius: 12px;
  background: black;
  animation: ease-in-out leg2 2s 0s infinite alternate both;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateY(-22px) scale(1.0);
  }

  33% {
    transform: rotate(-10deg) translateY(0px) scale(1.05) translateX(-15px);
  }

  50% {
    transform: rotate(0deg) translateY(7px) scale(1.0) translateX(5px);
  }

  66% {
    transform: rotate(5deg) translateY(15px);
  }

  75% {
    transform: rotate(0deg) translateY(8px);
  }

  100% {
    transform: rotate(10deg) translateY(0px) translateX(-15px);
  }
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg) translateY(-22px) scale(1.0);
  }

  33% {
    transform: rotate(-10deg) translateY(0px) scale(1.05) translateX(-15px);
  }

  50% {
    transform: rotate(0deg) translateY(7px) scale(1.0) translateX(5px);
  }

  66% {
    transform: rotate(5deg) translateY(15px);
  }

  75% {
    transform: rotate(0deg) translateY(8px);
  }

  100% {
    transform: rotate(10deg) translateY(0px) translateX(-15px);
  }
}

@keyframes flapping {
  100% {
    background-position: -2250px 0px;
  }
}

@-webkit-keyframes flapping {
  100% {
    background-position: -2250px 0px;
  }
}

@keyframes bat-shadow {
  0% {
    transform: scale(.7) translateX(0px);
  }

  33% {
    transform: scale(1) translateX(-5px);
  }

  50% {
    transform: scale(1.1) translateX(4px);
  }

  66% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0) translateX(-5px);
  }
}

@-webkit-keyframes bat-shadow {
  0% {
    transform: scale(.7) translateX(0px);
  }

  33% {
    transform: scale(1) translateX(-5px);
  }

  50% {
    transform: scale(1.1) translateX(4px);
  }

  66% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0) translateX(-5px);
  }
}


.a {
  transform: translateX(-1200px);
  animation: entro1 6s ease 2s infinite;

}


@keyframes entro1 {
  0% {
    transform: translateX(-1200px)
  }

  25% {
    transform: translateX(10px)
  }

  50% {
    transform: translateX(20px)
  }

  100% {
    transform: translateX(1200px) translateY(30px)
  }

}

.b {
  transform: translateY(-1200px);
  animation: entro2 15s ease 2s infinite;

}

@keyframes entro2 {
  0% {
    transform: translateY(-1200px)
  }


  50% {
    transform: translateX(-400px)
  }


  100% {
    transform: translateY(1200px) translateX(-2200px)
  }

}

.c {
  transform: translateX(1200px);
  animation: entro3 15s ease 2s infinite;

}

@keyframes entro3 {
  0% {
    transform: translateY(1200px) translateX(-300px)
  }

  10% {
    transform: translateY(-300px) translateX(-260px)
  }

}

@keyframes bruja {
  0% {
    transform: translateX(-700px)
  }

  100% {
    transform: translateX(1000px)
  }

}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img {
  width: 13%;
  margin: 10px auto;
}

.center-txt {
  text-align: center;
}

.gif {
  width: 20%;
  margin: 10px auto;
}

#animations {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}

.bg-trans {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-dark {
  background-color: #2a3d96;
  color: white;
}

.container {
  margin-top: 10px;
  max-width: 50%
}

@media only screen and (max-width: 1000px) {
  .container {
    margin-top: 20px;
    max-width: 80%
  }
}